= form_for @mma_gym do |f|
  - if @mma_gym.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mma_gym.errors.count, "error")} prohibited this mma_gym from being saved:"
      %ul
        - @mma_gym.errors.full_messages.each do |msg|
          %li= msg

  .row
  .form-group
  .col-md-6
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .row
  .form-group
  .col-md-6
    = f.label :address
    = f.text_field :address, class: 'form-control'
  .row
  .form-group
  .col-md-6
    = f.label :city
    = f.text_field :city, class: 'form-control'
  .row
  .form-group
  .col-md-3
    = f.label :zip
    = f.text_field :zip, class: 'form-control'
  .row
  .form-group
  .col-md-3
    = f.label :state
    = f.text_field :state, class: 'form-control'
  .row
  .form-group
  .col-md-3
    = f.label :phone
    = f.text_field :phone, class: 'form-control'    
  .row
  .form-group
  .col-md-3
    = f.label :website
    = f.text_field :website, class: 'form-control'
  .row
  .form-group
  .col-md-3
    = f.label :email
    = f.text_field :email, class: 'form-control'                
  .row
  .form-group
  .col-md-6
    = f.submit 'Save', class: 'btn btn-primary btn-lg'