%h1 MMA Gyms In California

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Name
      %th Address
      %th Phone
      %th Website
      %th
      %th
      %th

  %tbody
    - @mma_gyms.each do |mma_gym|
      %tr
        %td= mma_gym.name
        %td= mma_gym.address
        %td= mma_gym.phone
        %td= mma_gym.website
        %td= link_to 'Show', mma_gym
        %td= link_to 'Edit', edit_mma_gym_path(mma_gym)
        %td= link_to 'Destroy', mma_gym, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New MMA Gym', new_mma_gym_path, class: 'btn btn-primary btn-lg'
