%p#notice= notice

%p
  %b Name:
  = @mma_gym.name
%p
  %b Address:
  = @mma_gym.address
%p
  %b Phone:
  = @mma_gym.phone
%p
  %b Website:
  = @mma_gym.website

= link_to 'Edit', edit_mma_gym_path(@mma_gym)
\|
= link_to 'Back', mma_gyms_path
