%header
  .container
    %h1.logo
      %a{:href => "/"}
        = image_tag "logo.png", :alt => "MMA gyms In California", :data => {:"sticky-height" => 40, :"sticky-width" => 46}, :height => 108, :width => 122
    .search
      %form#searchForm{:action => "page-search-results.html", :method => "get"}
        .input-group
          %input#q.form-control.search{:name => "q", :placeholder => "Search...", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-default{:type => "submit"}
                = fa_icon "search"
    %nav
      %ul.nav.nav-pills.nav-top
        %li
          %a{:href => "/about"}
            = fa_icon "angle-right"
            About Us
        %li
          %a{:href => "/contact"}
            = fa_icon "angle-right"
            Contact Us
        %li.phone
          %span
            = fa_icon "phone"
            (909) 556-3532
    %button.btn.btn-responsive-nav.btn-inverse{"data-target" => ".nav-main-collapse", "data-toggle" => "collapse"}
      = fa_icon "bars"
  .navbar-collapse.nav-main-collapse.collapse
    .container

      .social-icons
        %ul.social-icons
          %li.facebook
            %a{:href => "http://www.facebook.com/", :target => "_blank", :title => "Facebook"} Facebook
          %li.twitter
            %a{:href => "http://www.twitter.com/", :target => "_blank", :title => "Twitter"} Twitter
          %li.linkedin
            %a{:href => "http://www.linkedin.com/", :target => "_blank", :title => "Linkedin"} Linkedin
      %nav.nav-main.mega-menu
        %ul#mainMenu.nav.nav-pills.nav-main
          %li.dropdown.active
            %a.dropdown-toggle{:href => "#"}
              Home
              = fa_icon "angle-down"

          %li.dropdown
            = link_to "#" do
              Dropdown
              = fa_icon "angle-down"
            %ul.dropdown-menu
              %li
                = link_to "Menu Item #1", "#"
              %li
                = link_to "Menu Item #2", "#"
              %li
                = link_to "Menu Item #3", "#"
          %li.dropdown
            %a.dropdown-toggle{:href => "/about"}
              About
          %li.dropdown.mega-menu-item.mega-menu-fullwidth
            %a.dropdown-toggle{:href => "/mma_gyms"}
              MMA Gyms
              = fa_icon "angle-down"
            %ul.dropdown-menu
              %li
                .mega-menu-content
                  .row
                    .col-md-3
                      %ul.sub-menu
                        %li
                          %span.mega-menu-sub-title Northern California
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} 1
                            %li
                              %a{:href => "#"} 2
                            %li
                              %a{:href => "#"} 3
                            %li
                              %a{:href => "#"} 4
                            %li
                              %a{:href => "#"} 5
                    .col-md-3
                      %ul.sub-menu
                        %li
                          %span.mega-menu-sub-title Los Angeles
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} 1
                            %li
                              %a{:href => "#"} 2
                            %li
                              %a{:href => "#"} 3
                            %li
                              %a{:href => "#"} 4
                            %li
                              %a{:href => "#"} 5
                            %li
                              %a{:href => "#"} 6
                            %li
                              %a{:href => "#"} 7
                            %li
                              %a{:href => "#"} 8
                            %li
                              %a{:href => "#"} 9
                    .col-md-3
                      %ul.sub-menu
                        %li
                          %span.mega-menu-sub-title Inland Empire
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} 1
                            %li
                              %a{:href => "#"} 2
                            %li
                              %a{:href => "#"} 3
                            %li
                              %a{:href => "#"} 4
                    .col-md-3
                      %ul.sub-menu
                        %li
                          %span.mega-menu-sub-title San Diego
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} 1
                            %li
                              %a{:href => "#"} 2
                            %li
                              %a{:href => "#"} 3
                            %li
                              %a{:href => "#l"} 4
                            %li
                              %a{:href => "#"} 5
          %li.dropdown
            %a.dropdown-toggle{:href => "/contact"}
              Contact Us
              = fa_icon "angle-down"
