%header
  .container
    %h1.logo
      %a{:href => "/"}
        = image_tag "logo.png", :alt => "MMA gyms In California", :data => {:"sticky-height" => 40, :"sticky-width" => 46}, :height => 108, :width => 122
    .search
      %form#searchForm{:action => "page-search-results.html", :method => "get"}
        .input-group
          %input#q.form-control.search{:name => "q", :placeholder => "Search...", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-default{:type => "submit"}
                = fa_icon "search"
    %nav
      %ul.nav.nav-pills.nav-top
        %li
          %a{:href => "#"}
            = fa_icon "angle-right"
            Add A Gym
        %li.phone
          %span
            = fa_icon "phone"
            (909) 556-3532
    %button.btn.btn-responsive-nav.btn-inverse{"data-target" => ".nav-main-collapse", "data-toggle" => "collapse"}
      = fa_icon "bars"
  .navbar-collapse.nav-main-collapse.collapse
    .container

      .social-icons
        %ul.social-icons
          %li.facebook
            %a{:href => "#", :target => "_blank", :title => "Facebook"} Facebook
          %li.twitter
            %a{:href => "#", :target => "_blank", :title => "Twitter"} Twitter
          %li.linkedin
            %a{:href => "#", :target => "_blank", :title => "Linkedin"} Linkedin
      %nav.nav-main.mega-menu
        %ul#mainMenu.nav.nav-pills.nav-main
          %li.dropdown.active
            %a.dropdown-toggle{:href => "#"}
              Home
              = fa_icon "angle-down"

          %li.dropdown
            = link_to "#" do
              Dropdown
              = fa_icon "angle-down"
            %ul.dropdown-menu
              %li
                = link_to "Menu Item #1", "#"
              %li
                = link_to "Menu Item #2", "#"
              %li
                = link_to "Menu Item #3", "#"
          %li.dropdown
            %a.dropdown-toggle{:href => "/pages/about"}
              About
          %li.dropdown.mega-menu-item.mega-menu-fullwidth
            %a.dropdown-toggle{:href => "/mma_gyms"}
              MMA Gyms
              = fa_icon "angle-down"
            %ul.dropdown-menu
              %li
                .mega-menu-content
                  .row
                    .col-md-3
                      %ul.sub-menu
                        %li
                          %span.mega-menu-sub-title Northern California
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} San Jose
                            %li
                              %a{:href => "#"} San Francisco
                            %li
                              %a{:href => "#"} Oakland
                            %li
                              %a{:href => "#"} Stockton
                            %li
                              %a{:href => "#"} Sacramento
                          %span.mega-menu-sub-title Central Valley
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} Fresno
                            %li
                              %a{:href => "#"} Bakersfield                      
                    .col-md-3
                      %ul.sub-menu
                        %li
                          %span.mega-menu-sub-title Los Angeles
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} Los Angeles
                            %li
                              %a{:href => "#"} Long Beach
                            %li
                              %a{:href => "#"} Glendale
                          %span.mega-menu-sub-title Orange County
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} Anaheim
                            %li
                              %a{:href => "#"} Santa Ana
                            %li
                              %a{:href => "#"} Irvine         
                            %li
                              %a{:href => "#"} Huntington Beach                                                  
                    .col-md-3
                      %ul.sub-menu
                        %li
                          %span.mega-menu-sub-title Inland Empire
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} Riverside
                            %li
                              %a{:href => "#"} San Bernardino
                            %li
                              %a{:href => "#"} Fontana
                            %li
                              %a{:href => "#"} Rancho Cucamonga
                    .col-md-3
                      %ul.sub-menu
                        %li
                          %span.mega-menu-sub-title San Diego
                          %ul.sub-menu
                            %li
                              %a{:href => "#"} San Diego
                            %li
                              %a{:href => "#"} Chula Vista
                            %li
                              %a{:href => "#"} Escondido
          %li.dropdown
            %a.dropdown-toggle{:href => "/pages/contact"}
              Contact Us
              = fa_icon "angle-down"
